<div ng-attr-style={{layoutStyle}}>
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    
    <defs>
      <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
        <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5" />
      </pattern>
      <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
        <rect width="100" height="100" fill="url(#smallGrid)" />
        <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1" />
      </pattern>
    </defs>

    <rect width="100%" height="100%" fill="url(#grid)" ng-attr-transform="translate(5, {{yMax+20-5}}) scale(1,-1)" />
    
    <path ng-attr-d="{{points}}" fill="none" stroke="#000" stroke-width="1" ng-attr-transform="translate(5, {{yMax+20-5}}) scale(1,-1)" />

    
    <circle ng-if="model.sources" ng-repeat="c in model.sources" ng-attr-cx="{{c.xValue}}" ng-attr-cy="{{c.yValue}}" 
            r="5" stroke="red" stroke-width="2" fill="none" ng-attr-transform="translate(5, {{yMax+20-5}}) scale(1,-1)"/>
    
    <circle ng-if="model.receiver" ng-attr-cx="{{model.receiver.xValue}}" ng-attr-cy="{{model.receiver.yValue}}" 
            r="5" stroke="blue" stroke-width="2" fill="none" ng-attr-transform="translate(5, {{yMax+20-5}}) scale(1,-1)"/>
  </svg>
</div>