<div id="foo" class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Sender and Receiver</h3>
        </div>
        <div class="panel-body">
          
          <p>
            Define position (x/y) and height (z) of one or more sender and one receiver. 
          </p>

          <div class="form">

            <div class="form-group">
              <label>Sources: </label>
              <div class="input-group">
                <span class="input-group-addon">x:</span>
                <input class="form-control" type="number" ng-model="coordinate.xValue">
                <span class="input-group-addon">y:</span>
                <input class="form-control" type="number" ng-model="coordinate.yValue">
                <span class="input-group-addon">z:</span>
                <input class="form-control" type="number" ng-model="coordinate.zValue">
                <span class="input-group-btn"><button class="btn btn-primary" ng-click="onAddSource(coordinate)">Add</button></span>
              </div>

              <div>
                <span ng-repeat="c in model.sources">
        <button type="button" style="margin-top:5px" class="btn btn-default btn-sm" ng-click="onDelSource(c)">
          ( {{c.xValue}} / {{c.yValue}} / {{c.zValue}}) <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label>Receiver: </label>
              <div class="input-group">
                <span class="input-group-addon">x:</span>
                <input class="form-control" type="number" ng-model="receiver.xValue">
                <span class="input-group-addon">y:</span>
                <input class="form-control" type="number" ng-model="receiver.yValue">
                <span class="input-group-addon">z:</span>
                <input class="form-control" type="number" ng-model="receiver.zValue">
                <span class="input-group-btn"><button class="btn btn-primary" ng-click="onSetReceiver(receiver)">Set</button></span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <lfs-navbar></lfs-navbar>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <lfs-layout datamodel="model"></lfs-layout>
    </div>
  </div>
</div>