<div id="foo" class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User</h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" ng-model="user.username" required>
            </div>
            <div class="form-group">
              <label>Email Address:</label>
              <input class="form-control" ng-model="user.email" required>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <lfs-navbar></lfs-navbar>
        </div>
      </div>
    </div>
  </div>
</div>